.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f3f3f3;
  padding: 0px 10px;
}

.movie {
  width: 200px;
  height: 300px;
  margin: 20px 10px 0px 10px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.movieContainer {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(4, 4, 4, 0.645);
  color: #f3f3f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  z-index: 1;
}

.titleMovie {
  font-size: 25px;
}

.categoryMovie {
  font-size: 15px;
}

.descMovie {
  font-size: 15px;
}
.buttonReservation {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  background-color: rgb(51, 124, 220);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: calc(50vw - 100px);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  bottom: 80px;
  cursor: pointer;
}
