.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 0px 10px;
}

.containerReservation {
  width: 80%;
  height: 650px;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #636363;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}

.imagenStyled {
  height: 100%;
  width: 35%;
  object-fit: cover;
  border-radius: 4px 0px 0px 4px;
}
.containerResevationSit {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 4px 4px 0px;
}

.containerSitTitle {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #212121;
}
.containerSit {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
  width: 80%;
  height: 70%;
  border-radius: 4px;
  background-color: #dadada;
  overflow: auto;
}


.containerButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
.buttonReservation {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  background-color: rgb(51, 124, 220);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  left: calc(50vw - 100px);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  bottom: 80px;
  cursor: pointer;
}

.buttonReservationDone {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  background-color: rgb(73, 201, 73);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  left: calc(50vw - 100px);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  bottom: 80px;
  cursor: pointer;
}
